*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #53577F;
}
.img-nav{
  top: 2%;
  left: 6%;
}
:root{
    --main-color:#fff;
  }
  .main-header{
    background: #e7e7e7;
    width: 100%;
    height:50px;
    color: #53577F;
    border-top: #53577f5b 0.1px solid;
    border-bottom: #53577f5b 0.1px solid;
  }
.nav{
  width: 300px;
} 
.list{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background-color: #53577F;
}
.list_item{
  list-style-type:none ;
  width: 100%;
  text-align: center;

}
  