*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #53577F;
}
:root{
    --main-color:#fff;
  }
  .main-header{
    background: #e7e7e7;
    width: 100%;
    height:50px;
    color: #53577F;
    border-top: #53577f5b 0.1px solid;
    border-bottom: #53577f5b 0.1px solid;
  }
.nav{
  width: 300px;
} 
.img-nav{
  margin-top: 0;
}
.nav_link{
  color: #ffffff;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}
.nav_link--inside{
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;

}
.nav_link--inside:hover{
  background-color: #4a4e72;
}
.list{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background-color: #53577F;
}
.list_item{
  list-style-type:none ;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.list_item--click{
  cursor: pointer;
}
.list_button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}
.arrow .fa-arrow-right{
  transform: rotate(90deg);
}
.fa-arrow-right{
  margin-left: auto;
  transition: transform .3s;
}
.list_show{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #ffffff;
  list-style: none;
  transition: height .4s;
  height: 0;
}

  