<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloqueo de citas</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    

</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <form id="block-dates-form" method="POST" action="{{ url_for('main.block_dates') }}">
        <h2>Selecciona los días para bloquear</h2>
        <label for="cita-select">Seleccione especialidad</label>
        <select class="cita" id="cita-select" name="resource_id">
            {% for recurso in recursos %}
            <option value="{{ recurso.resource_id }}" {% if recurso.resource_id == selected_resource_id %}selected{% endif %}>{{ recurso.name }}</option>
            {% endfor %}
        </select>    
        <label for="block-date">Selecciona la fecha:</label>
        <input type="date" id="block-date" name="block_date" required>
        
        <button type="submit">Guardar Días Bloqueados</button>
    </form>
    
    <script>
            var selecct = getElementById('cita-select')
            console.log("selecct")
            function isDayBlocked(date) {
                let formattedDate = formatDate(date);
                let isBlocked = false;
                
                $.ajax({
                    url: "{{ url_for('main.get_blocked_dates') }}",
                    method: "GET",
                    async: false,
                    success: function(response) {
                        let blockedDates = response.blocked_dates;
                        if (blockedDates.includes(formattedDate)) {
                            isBlocked = true;
                        }
                    }
                });
                
                return isBlocked;
            }
    </script>    
{% endblock %}
</body>
</html>