<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario y Registro de Citas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_calendario.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}" defer></script>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div  class="Info_cita">
        <select >
                    <option value="1">Cardiologia A</option>
                    <option value="2">Cardiologia B</option>
                    <option value="3" selected="selected">Cardiologia C</option>
                    <option value="4">ECOCARDIOGRAMA TRANSTORACICO C</option>
                    <option value="5">ECOCARDIOGRAMAS TRANSESOFAGICOS SIN Y CON CONTRASTE</option>
                    <option value="6">ECOCARDIOGRAMAS TRANSTORACICOS</option>
                    <option value="7">ELECTROCARDIOGRAMAS B</option>
                    <option value="8">HOLTER ELECTROCARDIOGRAFO EKG</option>
                    <option value="9">MESA BASCULANTE</option>
                    <option value="10">MESA BASCULANTE B</option>
                    <option value="11">MONITOREO PRESIÓN ARTERIAL</option>
                    <option value="12">PRUEBAS DE ESFUERZO</option>
        </select>

    </div>
    <div class="calendar-container" style="display: none;">
        <button id="prev-btn"><i class="fa-solid fa-arrow-left"></i></button>
        <div id="calendar"></div>
        <button id="next-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
    
<div class="interval-selection" style="display:none;">
    <h2>Selecciona un intervalo de tiempo</h2>
    <select id="time-slot" name="time-slot">
        <option value="5">5 minutos</option>
        <option value="10">10 minutos</option>
        <option value="15">15 minutos</option>
        <option value="20">20 minutos</option>
        <option value="25">25 minutos</option>
        <option value="30">30 minutos</option>
        <option value="35">35 minutos</option>
        <option value="40">40 minutos</option>
    </select>
    <button id="select-interval">Seleccionar</button>
</div>

<div class="hour-selection" style="display: none;">
    <h2>Selecciona una hora</h2>
    <table>
        <tr>
            <th>07:00</th>
            <th>08:00</th>
            <th>09:00</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>12:00</th>
            <th>01:00</th>
            <th>02:00</th>
            <th>03:00</th>
            <th>04:00</th>
            <th>05:00</th>
        </tr>
        <tr>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
            <td><div class="hour-column"></div></td>
        </tr>
    </table>
</div>


<div class="form-container" style="display:none;">
    <h2>Formulario de Registro de Citas</h2>
    <form >
        <div id="appointment-form" >
            <div>
            <h3> Detalles de la Cita </h3>
        
            
            <label>Título de la cita</label><br><br>
            <input type="text" name="titulo" required><br>
        
            
            <label>Descripción de la cita</label><br><br>
            <input type="text" name="descripcion" required><br>
        
            
            <label>Fecha de inicio</label><br><br>
            <input type="date" id="inicio-fecha" name="inicio" required> <input type="time" id="inicio-hora" name="inicio" required><br>
        
            
            <label>Fecha de fin</label><br><br>
            <input type="date" id="fin-fecha" name="fin" required> <input type="time" id="fin-hora" name="fin" required><br>
        
            
            <label>Repetir</label><br><br>
                <select name="repetir" class="selecc" required>
                    <option value="no">No se repite</option>
                    <option value="diario">Diario</option>
                    <option value="semanal">Semanal</option>
                    <option value="mensual">Mensual</option>
                </select><br>
                
        
            
            <label>Recursos</label><br><br>
                    <select name="recursos" class="selecc" required>
                        <option value="MESA BASCULANTE B">MESA BASCULANTE B</option>
                        <option value="Otro">Otro</option>
                    </select><br>
                </div>
                    <div>
                <h3>Información del Paciente</h3>
                <label>Nombre o correo electrónico o Rut(CC)</label><br><br>
            <input type="text" name="paciente" class="selecc" required><br>
            
            <label> Edad del paciente</label><br><br>
            <input type="number" name="edad" required><br>
            
            <label> Estado de la cita</label><br><br>
                    <select name="estado" class="selecc" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="confirmada">Confirmada</option>
                        <option value="cancelada">Cancelada</option>
                    </select>
                
            
            <label>Número de autorización</label><br><br>
            <input type="text" name="autorizacion" required>

            <label>El paciente requiere prioridad de atención</label><br><br>
                    <select name="prioridad" class="selecc" required>
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select><br>
                
            
            <label> Registro en la llamada</label><br><br>
                <select name="registro_llamada" class="selecc" required>
                    <option value="N">N</option>
                    <option value="S">S</option>
                </select><br>
                
            <label> ¿Cuál?</label><br><br>
            <input type="text" name="cual" required><br>
           </div>
        </div>     
           <input type="submit" value="Enviar" >
    </form>
{% endblock %}
</body>
</html>
