
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calendario y Registro de Citas</title>
        
        <!-- Estilos -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_calendario.css') }}">
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
        <!-- jQuery -->
        <!-- Incluye jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Incluye jQuery UI -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
        <!-- FullCalendar -->
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js'></script>
        
        <!-- Definir las URLs necesarias en una variable global -->
        <script>
            var blockedDatesUrl = "{{ url_for('main.get_blocked_dates') }}";
            var citasUrl = "{{ url_for('main.citas') }}";
            var timeIntervalUrl = "{{ url_for('main.get_time_interval') }}";
            var appointmentsUrl = "{{ url_for('main.get_appointments') }}";
            var searchUserUrl = "{{ url_for('main.search_user') }}";
            var updateCitasUrl = "{{ url_for('main.update_citas', cita_id=0) }}";
        </script>
    </head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container-citas">
    <div class="Info_cita">
        <select class="cita" id="cita-select">
            {% for recurso in recursos %}
            <option value="{{ recurso.resource_id }}" {% if recurso.resource_id == selected_resource_id %}selected{% endif %}>{{ recurso.name }}</option>
            {% endfor %}
        </select>        
    </div>
    <br><br>
    <div class="calendar-container">
        <button id="prev-btn"><i class="fa-solid fa-arrow-left"></i></button>
        <div id="calendar"></div>
        <button id="next-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="container-citas-module">
    <div class="hour-selection"><!--con este -->
        <h2>Selecciona una hora</h2>
        <table id="schedule-table" border="1" class="table_citas">
            <thead>
                <tr>
                    <th>Día y Fecha</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se generarán aquí -->
            </tbody>
        </table>
    </div>
</div>

    <div class="form-container" style="display:none;">
        <h2>Formulario de Registro de Citas</h2>
        <form method="post" action="{{ url_for('main.reg_citas') }}">
            <input type="hidden" id="resource_id" name="resource_id">
            <div id="appointment-form">
                <div>
                    <h3>Detalles de la Cita</h3>
                    <label>Título de la cita</label><br><br>
                    <input type="text" id="title" name="title" readonly required><br>
                    <label>Descripción de la cita</label><br><br>
                    <textarea id="description" name="description" required></textarea><br>
                    <label>Fecha de inicio</label><br><br>
                    <input type="date" id="inicio-fecha" name="inicio_fecha" readonly required>
                    <input type="time" id="inicio-hora" name="inicio_hora" required><br><br>
                    <label>Fecha de fin</label><br><br>
                    <input type="date" id="fin-fecha" name="fin_fecha" readonly required>
                    <input type="time" id="fin-hora" name="fin_hora" required>
                    <p id="duracion">0 horas 0 minutos</p>                    
                    <label>Repetir</label><br><br>
                    <select name="repetir" class="selecc"  required>
                        <option value="no">No se repite</option>
                        <option value="diario">Diario</option>
                        <option value="semanal">Semanal</option>
                        <option value="mensual">Mensual</option>
                    </select><br>
                    <label>Recursos</label><br><br>
                    <input type="text" id="resource" readonly required><br><br>
                </div>
                <div>
                    <h3>Información del Paciente</h3>
                    <label>Nombre o Rut(CC)</label><br><br>
                    <input type="text" id="paciente" name="paciente" required><br>
                    <table id="resultsTable" style="display:none;">
                        <tbody>
                            <!-- Los resultados se mostrarán aquí -->
                        </tbody>
                    </table>
                    <label>Edad del paciente</label><br><br>
                    <input type="number" name="edad" min="18" max="100" required><br>
                    <label>Estado de la cita</label><br><br>
                    <select name="estado" class="selecc" required>
                        <option value="1">Reprogramada</option>
                        <option value="2">Asignada</option>
                        <option value="3">Cancelada</option>
                    </select><br>
                    <label>Número de autorización</label><br><br>
                    <input type="text" name="autorizacion" required><br>
                    <label>El paciente requiere prioridad de atención</label><br><br>
                    <select name="prioridad" class="selecc" required>
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select><br>
                    <label>Registro en la llamada</label><br><br>
                    <select name="registro_llamada" class="selecc" required>
                        <option value="N">N</option>
                        <option value="S">S</option>
                    </select><br>
                    <label>¿Cuál?</label><br><br>
                    <input type="text" name="cual" required><br>
                </div>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <script src="{{ url_for('static', filename='script/script_o.js') }}"></script>
    </div>
    {% endblock %}
</body>
</html> 