
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Citas</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_intervalos.css') }}">
    <link>

</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <table id="schedule-table" border="1" class="table_citas">
        <thead>
            <tr>
                <th>Día</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se generarán aquí -->
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            function generateTimeSlots(start, end, interval) {
                let slots = [];
                let startTime = new Date();
                startTime.setHours(start.split(':')[0], start.split(':')[1], 0, 0);
                let endTime = new Date();
                endTime.setHours(end.split(':')[0], end.split(':')[1], 0, 0);

                while (startTime < endTime) {
                    let endTimeSlot = new Date(startTime.getTime() + interval * 60000);
                    slots.push(`${startTime.getHours().toString().padStart(2, '0')}:${startTime.getMinutes().toString().padStart(2, '0')} - ${endTimeSlot.getHours().toString().padStart(2, '0')}:${endTimeSlot.getMinutes().toString().padStart(2, '0')}`);
                    startTime = endTimeSlot;
                }
                return slots;
            }

            function generateTable(interval) {
                let start = "07:00";
                let end = "17:00";
                let slots = generateTimeSlots(start, end, interval);
                let days = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"];

                let tableHead = `<tr><th>Día</th>${slots.map(slot => `<th>${slot}</th>`).join('')}</tr>`;
                let tableBody = days.map(day => `<tr><td>${day}</td>${slots.map(slot => `<td></td>`).join('')}</tr>`).join('');

                $('#schedule-table thead').html(tableHead);
                $('#schedule-table tbody').html(tableBody);
            }

            $.getJSON("{{ url_for('main.get_time_interval') }}", function(data) {
                generateTable(parseInt(data.interval));
            });
        });
    </script>
</body>
</html>

{% endblock %}
