<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <script>
        alert("Contraseña incorrecta rectifique, o usuario");
        setTimeout(function() {
            window.location.href = "/"; // Redirige a la página de inicio después de 3 segundos (ajusta el tiempo según tus necesidades)
        }, 2000); // 2000 milisegundos = 2 segundos
    </script>
</body>
</html>