<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel por Fechas</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <form method="GET" action="{{ url_for('excel.excelByDates') }}">
        <label for="start_date">Fecha de Inicio:</label>
        <input type="date" id="start_date" name="start_date" required>
        
        <label for="end_date">Fecha de Fin:</label>
        <input type="date" id="end_date" name="end_date" required>
        
        <button type="submit">Generar Reporte</button>
    </form> 
    {% endblock %}   
</body>
</html>