<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_form_usuario.css') }}">
</head>
<body>
  <nav class="navbar">
    <img src="{{ url_for('static', filename='img/custom-logo.png') }}" alt="Logo"/>
    <h1>CARDIOIB</h1>
  </nav>
  <div class="container">
    <form action="{{ url_for('main.reg_usuarios') }}" method="POST">
      <h1>Registro de Usuarios</h1>
      <div class="container_label">
        <div>
          <label for="username">Nombre de usuario</label><br>
          <input type="text" id="username" name="username" placeholder="Nombre de usuario" required><br>
    
          <label for="fname">Nombre</label><br>
          <input type="text" id="fname" name="fname" placeholder="Nombre" required><br>
          
          <label for="phone">Teléfono</label><br>
          <input type="text" id="phone" name="phone" placeholder="Teléfono" required><br>
    
          <label for="position">Sucursal</label><br>
          <div class="input-container">
            <input type="text" id="position" name="position" placeholder="Cardio IB IPS" value="Cardio IB IPS" readonly>
          </div><br>
        </div>
        <div>
          <label for="email">Correo</label><br>
          <input type="email" id="email" name="email" placeholder="Correo" required><br>
    
          <label for="lname">Apellido</label><br>
          <input type="text" id="lname" name="lname" placeholder="Apellido" required><br>
    
          <label for="organization">RUT/CC</label><br>
          <input type="text" id="organization" name="organization" placeholder="RUT/CC" required><br>
          
          <label for="document_type">Tipo de documento</label><br>
          <input type="text" id="document_type" name="document_type" placeholder="Tipo de documento" required><br>
        </div>
      </div>
      <input type="submit" value="Enviar">
    </form>
    
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</body>
</html>
