<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="navbar" ><img src="./static/img/custom-logo.png" /><h1>CARDIOIB</h1></nav>
  <div class="container">
    
    <form action="/submit" method="post">
      <img class="image-form" src="./static/img/custom-logo.png" /><br>
        <h1>Iniciar Sesión</h1>
        <label for="name">Usuario</label><br>
        <br>
        <input type="text" placeholder="Nombre de usuario" id="username"><br><br>
        <br>
        <label for="Clave">Clave</label><br>
        <input type="password" placeholder="Contraseña" id="password"><br><br>
        
        <input type="submit" value="Enviar">
    </form>
  </div>
</body>
</html>
