<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/excel.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container_excel">
        <h2 class="titulo_Excel">Reporte General Excel</h2>
        <a class="link_excel download" href="{{ url_for('excel.download_excel') }}">Generar reporte excel</a>
    </div>
    
{% endblock %}
</body>
</html>