<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Citas</title>
</head>
<body>
    <div class="container">
        <h1>Actualizar Cita</h1>
        <form method="post" action="{{ url_for('main.update_citas', cita_id=cita.cita_id) }}">
            <div class="form-container">
                <h2>Formulario de Registro de Citas</h2>
                <div id="appointment-form">
                    <div>
                        <h3>Detalles de la Cita</h3>
                        <label>Título de la cita</label><br><br>
                        <input type="text" id="title" name="title" value="{{ cita.title }}" readonly required><br>
                        <label>Descripción de la cita</label><br><br>
                        <input type="text" id="description" name="description" value="{{ cita.description }}" required><br>
                        <label>Fecha de inicio</label><br><br>
                        <input type="date" id="inicio-fecha" name="inicio_fecha" value="{{ cita.inicio_fecha }}" readonly required>
                        <input type="time" id="inicio-hora" name="inicio_hora" value="{{ cita.inicio_hora }}" required><br><br>
                        <label>Fecha de fin</label><br><br>
                        <input type="date" id="fin-fecha" name="fin_fecha" value="{{ cita.fin_fecha }}" readonly required>
                        <input type="time" id="fin-hora" name="fin_hora" value="{{ cita.fin_hora }}" required>
                        <p id="duracion">0 horas 0 minutos</p>
                        <label>Repetir</label><br><br>
                        <select name="repetir" class="selecc" required>
                            <option value="no" {% if cita.repetir == 'no' %}selected{% endif %}>No se repite</option>
                            <option value="diario" {% if cita.repetir == 'diario' %}selected{% endif %}>Diario</option>
                            <option value="semanal" {% if cita.repetir == 'semanal' %}selected{% endif %}>Semanal</option>
                            <option value="mensual" {% if cita.repetir == 'mensual' %}selected{% endif %}>Mensual</option>
                        </select><br>
                        <label>Recursos</label><br><br>
                        <select name="recursos" class="selecc" required>
                            <option value="MESA BASCULANTE B" {% if cita.recursos == 'MESA BASCULANTE B' %}selected{% endif %}>MESA BASCULANTE B</option>
                            <option value="Otro" {% if cita.recursos == 'Otro' %}selected{% endif %}>Otro</option>
                        </select><br>
                    </div>
                    <div>
                        <h3>Información del Paciente</h3>
                        <label>Nombre o Rut(CC)</label><br><br>
                        <input type="text" id="paciente" name="paciente" value="{{ cita.paciente }}" required><br>
                        <table id="resultsTable" style="display:none;">
                            <tbody>
                                <!-- Los resultados se mostrarán aquí -->
                            </tbody>
                        </table>
                        <label>Edad del paciente</label><br><br>
                        <input type="number" name="edad" value="{{ cita.edad }}" min="18" max="100" required><br>
                        <label>Estado de la cita</label><br><br>
                        <select name="estado" class="selecc" required>
                            <option value="1" {% if cita.estado == 1 %}selected{% endif %}>Reprogramada</option>
                            <option value="2" {% if cita.estado == 2 %}selected{% endif %}>Asignada</option>
                            <option value="3" {% if cita.estado == 3 %}selected{% endif %}>Cancelada</option>
                        </select><br>
                        <label>Número de autorización</label><br><br>
                        <input type="text" name="autorizacion" value="{{ cita.autorizacion }}" required><br>
                        <label>El paciente requiere prioridad de atención</label><br><br>
                        <select name="prioridad" class="selecc" required>
                            <option value="no" {% if cita.prioridad == 'no' %}selected{% endif %}>No</option>
                            <option value="si" {% if cita.prioridad == 'si' %}selected{% endif %}>Sí</option>
                        </select><br>
                        <label>Registro en la llamada</label><br><br>
                        <select name="registro_llamada" class="selecc" required>
                            <option value="N" {% if cita.registro_llamada == 'N' %}selected{% endif %}>N</option>
                            <option value="S" {% if cita.registro_llamada == 'S' %}selected{% endif %}>S</option>
                        </select><br>
                        <label>¿Cuál?</label><br><br>
                        <input type="text" name="cual" value="{{ cita.cual }}" required><br>
                    </div>
                </div>
                <input type="submit" value="Actualizar">
            </div>
        </form>
    </div> 
            <input type="submit" value="Actualizar">
        </form>
    </div>    
         <script>
        $(document).ready(function(){
            $('#paciente').on('input', function(){
                let query = $(this).val();
                console.log('Input:', query); // Verifica el valor del input
                if(query.length > 2) {
                    $.ajax({
                        url: "{{ url_for('main.search_user') }}", // Asegúrate de que la URL es correcta
                        method: "GET",
                        data: { query: query },
                        success: function(data) {
                            console.log('Response:', data); // Verifica la respuesta del servidor
                            let results = data.results;
                            let tableBody = $('#resultsTable tbody');
                            tableBody.empty();

                            if(results.length > 0) {
                                $('#resultsTable').show();
                                results.forEach(function(user) {
                                    let row = `<tr class="selectable">
                                        <td>${user.fname} ${user.lname} (${user.organization})</td>   
                                    </tr>`;
                                    tableBody.append(row);
                                });

                                $('.selectable').on('click', function() {
                                    let selectedText = $(this).find('td').text(); // Assuming Rut(CC) is in the third column
                                    $('#paciente').val(selectedText);
                                    $('#resultsTable').hide();
                                });
                            } else {
                                $('#resultsTable').hide();
                            }
                        },
                        error: function(error) {
                            console.log('Error:', error);
                        }
                    });
                } else {
                    $('#resultsTable').hide();
                }
            });

            $('#citaForm').on('submit', function(event) {
                event.preventDefault(); // Evitar el envío del formulario estándar
                let paciente = $('#paciente').val(); // Obtener el valor del campo del paciente
                
                $.ajax({
                    url: "{{ url_for('main.reg_citas') }}",
                    method: "POST",
                    data: { paciente: paciente },
                    success: function(response) {
                        console.log('Formulario enviado exitosamente', response);
                        // Puedes agregar lógica adicional aquí, como mostrar un mensaje de éxito
                    },
                    error: function(error) {
                        console.log('Error al enviar el formulario', error);
                        // Puedes agregar lógica adicional aquí, como mostrar un mensaje de error
                    }
                });
            });
        });
    </script>
</body>
</html>