<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <table>
        <a href="{{ url_for('main.reg_usuarios') }}" >Crear usuario</a>
        <tr>
            <th>Nombre</th>
            <th>Nombre de usuarios</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Rut-CC</th>
            <th>Sucursal</th>
            <th>Creado</th>
            <th>Ultimo inicio de sesion</th>
            <th>Estado</th>
            <th>Accion</th>
        </tr>
        <tr>
            <td></td>
        </tr>
        
    </table>
</body>
</html>